<div class="content">

  <ul>
    <a class="menu" href="/types/<%= @type.slug %>"><%= @type.name %>s</a>
    <br></br>
    <% @type.items.each do |item| %>
      <% if item.type_id == @type.id %>
        <li>
          <a href="/items/<%= item.slug %>"><%= item.title %> by <%= item.creator %></a>
        </li>
        <li>
          <form action="items/<%= item.slug %>/delete" method="post">
            <input type="hidden" id="hidden" name="_method" value="DELETE">
            <input type="submit" name="submit" value=" delete ">
          </form>
        </li>
      <% end %>
    <% end %>
  </ul>
  <br></br>
</div>
